@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.virtual-image {
    width: 100%;
}

h1 {
    font-size: 26px;
    color: #1f2933;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #7b8794;
    font-weight: 400;
}

.custom-button {
    background-color: #1a2137;
    color: #ffffff;
    height: 50px;
    width: 140px;
    border-radius: 5px;
}
